.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header .header__title {
  font-size: 24px;
  font-weight: 600;
}
.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}
.header .header__icon .header__icon-plus {
  height: 10px;
  font-size: 12px;
  -webkit-text-stroke: 1px #020202;
  position: absolute;
  right: -2px;
  top: 3px;
  background-color: #fff;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
