.nav {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 50px;
  background-color: #fff;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  color: #fff;
  background-color: #dc5d46;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.3s ease-out forwards;
  animation-delay: 1s;
}
