.nav {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 50px;
  background-color: #fff;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
